Analytics for Hospitals' Health-Care Data 
DATA VISUALIZATION 
Team ID : PNT2022TMID04542

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set(color_codes=True)
from matplotlib import pyplot as plt

In [ ]:
data = pd.read_csv("/content/train_data.csv")

In [ ]:
data. head()

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74988 entries, 0 to 74987
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   case_id                            74988 non-null  int64
 1   Hospital_code                      74988 non-null  int64
 2   Hospital_type_code                 74988 non-null  object
 3   City_Code_Hospital                 74988 non-null  int64
 4   Hospital_region_code               74988 non-null  object
 5   Available Extra Rooms in Hospital  74988 non-null  int64
 6   Department                         74988 non-null  object
 7   Ward_Type                          74988 non-null  object
 8   Ward_Facility_Code                 74988 non-null  object
 9   Bed Grade                          74973 non-null  float64
 10  patientid                          74988 non-null  int64
 11  City_Code_Patient                  74221 non-null  float64
 12  Type of Admission                  74988 non-null  object
 13  Severity of Illness                74988 non-null  object
 14  Visitors with Patient              74988 non-null  int64
 15  Age                                74988 non-null  object
 16  Admission_Deposit                  74988 non-null  float64
 17  Stay                               74988 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 10.3+ MB

In [ ]:
sns.barplot(data['City_Code_Hospital'], data['City_Code_Patient'])

In [ ]:
sns.stripplot(data['Department'], data['Available Extra Rooms in Hospital'])

In [ ]:
sns.scatterplot(data['Ward_Type'], data['Available Extra Rooms in Hospital'])

In [ ]:
sns.heatmap(data.corr(),annot=True)

In [ ]:
sns.jointplot(data['Severity of Illness'], data['Age'])

In [ ]:
sns.barplot(data['Department'], data['Bed Grade'])

In [ ]:
sns.pairplot(data,hue="Admission_Deposit")#multivariate